.home {
  .homeContent {
    background: linear-gradient(115deg, $color-1 40%, transparent 100%);
    width: 100%;
    max-height: 100%;
    border-radius: $borderRadius;
    position: relative;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background: url("../../media/face.jpg") no-repeat center/cover;
      z-index: -1;
      filter: brightness(50%);
    }

    .content {
      position: absolute;
      top: 30%;
      left: 1%;
      font-family: $font-1;

      h2 {
        font-size: 2.2rem !important;
        color: $color-3;
        text-shadow: 5px 4px 1px $black;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .homeContent {
    width: 100%;
    margin: 0 !important;
  }
}
@media screen and (max-width: 580px) {
  .homeContent {
    &:after {
      background: url("../../image/webdesign-photo.jpg") no-repeat 60% 50% /
        cover !important;
    }
    h1 {
      font-size: 3rem !important;
    }
    h2 {
      font-size: 1.8rem !important;
    }
  }
}
@media screen and (max-width: 350px) {
  .homeContent {
    &:after {
      background: url("../../image/webdesign-photo.jpg") no-repeat 60% 50% /
        cover !important;
    }
    h1 {
      font-size: 2.2rem !important;
    }
    h2 {
      font-size: 1.3rem !important;
    }
    .pdf {
      a {
        font-size: 1.2rem !important;
        padding: 0.8rem 0.7rem !important;
      }
    }
  }
}
